<% content_for :title do %>Dunn ITC<% end %>
<div class="center hero-unit centre">
 				<%= link_to image_tag("logosquare1.png",:size => '100x100', alt: "Logo"  ), root_path, class: 'pull-left' %> 
 				<h1>Welcome to My Blog</h1>

<hr />
<hr />
<h1>Under Construction</h1>

      <div class="row">
        <div class="col-md-3"><h3> News</h3>
        	
      
      <%=  image_tag("choose6.png",:size => '100x100', alt: "Choose", class: 'pull-left'  ) %> 
        	
        	
        </div><!-- Column-->
        
        <div class="col-md-9">  
        	<h3>
  				<a href="http://beadone.entrydns.org">Dunn ITC </a> Consulting
  			</h3>
  		</div> <!-- Column2-->
      </div>
<hr />

</div>
