<% content_for :title do %>COBIT  Assessment<% end %>
	<p class="center">
	<%= link_to 'Business Operations', page_path('Bizops')  %>
	<%= link_to '', page_path('bizops'), class:"glyphicon glyphicon-chevron-left"  %>
	<%= link_to '', page_path('cobitprocesses'), class:"glyphicon glyphicon-chevron-right"  %>	
	<%= link_to 'COBIT Processes', page_path('cobitprocesses')  %>		
	</p>
<h1><i class="glyphicon glyphicon-refresh"></i>COBIT  Assessment</h1>