<% content_for :title do %>Download<% end %>
<h1><i class="glyphicon glyphicon-import"></i>Downloads</h1>
<p>
  This is the download page for the
  <a href="http://ec2-54-79-116-161.ap-southeast-2.compute.amazonaws.com/">Dunn ITC</a>
  web
   application.
</p>
   <label class="control-label">Username</label>
 <div class="inner-addon left-addon">
    <i class="glyphicon glyphicon-user"></i>
    <input type="text" class="form-control" placeholder="Username"  />
</div>
<form role="form"> 
  <div class="form-group has-feedback has-feedback-right ">
    <label class="control-label">Username</label>
    <input type="text" class="form-control" placeholder="Username" />
    <i class="form-control-feedback glyphicon glyphicon-user"></i>
  </div>
</form>


 