<% content_for :title do %>Install Openproject<% end %>
<h1><i class="glyphicon glyphicon-check"></i>OpenProject Installation Guide</h1>
<p>
<%= link_to image_tag("projmgt4.png",:size => '250x120', alt: "Project Mgt"  ), page_path('projmgt'),class: 'pull-left' %>        	

		<p> The following documents an approach to setting up OpenProject for basic use in small and medium business. 
			It shows how to get the projects defined in Openproject and then how to track the project in a simple way that 
			does not consume too many company resources yet enables the team to stay on top of what is happening and is integrated into normal operational processes. </p> 
		<p> I will assume that we are going to run to small projects that are related. We will define a simple waterfall set of 
			plans for each and we will track hours as a well as tasks during the run phases of the projects and store the main project documents.
			The project will run in the context of IT operations and is not viewed as a standalone piece of work. 
			Below shows this simple approach to project management.
			</p>
        							 		
		<hr /><%= link_to image_tag("openproject/opprocess1.png",:size => '450x500', alt: "Project Mgt"  ), class: 'centre' %> 
		

<p>The advantages from small enterprises are</p> 

			<ul>
				<li>A simple cost effective way to manage projects</li> 
				<ul>
					<li>Openproject server takes a small effort to setup (half a day)</li>
					<li>The running costs are low, just the server costs only, no application costs.</li>
					<li>Openproject uses a simple backlog and task board approach to generating the plan</li>
					<li>Openproject provides a simple web based project update mechanism for team members.</li>
					<li>Openproject has simple effective effort and management reporting out of the box</li>
					<li>Allows for third parties to be tracked easily as well</li> 
				</ul>
				<li>The company can use more functionality as the use of management disciplines mature.</li> 							
			</ul>

<h4>Installation </h4>

<p> Installation of OpenProject is straight forward. It can be run on a small server in the cloud, such as and Amazon EC2 server, for little cost 
or run as a virtual server on any local platform you may have setup.
The Installation guide can be found here

</p>

<h4>Installation </h4>