<% content_for :title do %>Service Management<% end %>
<h1><i class="glyphicon glyphicon-refresh"></i>Service Management</h1>

	<%= link_to image_tag("knowledgebase2.png",:size => '150x60', alt: "Project Mgt"  ), page_path('projmgt'),class: 'pull-left' %>        	
	<div class="padp">

		
	<blockquote><p> Service Management:
		A set of specialized organizational capabilities for providing
		value to customers in the form of services </p></blockquote>
	
		<hr />

   
   <p>Moving down the path of implementing ITSM should not add a layer of management (and cost) to the team </p>
   <p>The simple 2 pronged approach is to change the cultue of the 
   team to a service based culture and with the support of a simple ITIL compliant management tool, gain the first level of benifits 
   espoused by ITIL enficinardo's.
   
   <ul>
   	<li>improved efficiency through metrics reviews</li>
   	<li>improved customer satisfaction through better expectation setting and transparency.</li>
   </ul>
   
</p>   

<p>And, when the team is ready, you can move up the maturity ladder to gain further benifits</p>  
   

  </div> <!-- padp --> 


<hr />



<table class="table table-striped table-condensed">
	<caption> <h3>Cultural  Change in IT - Behaviours you will notice</h3> </caption>
	<thead> 
		<tr>
     		<th class="col-sm-2"><h3>Moving From</h3></th>
        	<th class="col-sm-2"><i class="glyphicon glyphicon-arrow-right"></i></th>       	
        	<th class="col-sm-2"><h3>Moving To</h3></th>
      </tr>
     </thead>
      
 	<tbody>
		<tr>
     		<th>Users</th>
 	<th><i class="glyphicon glyphicon-arrow-right"></i></th>     	
        	<th>Customers</th>
      </tr>
 		<tr>
 			<th>Inward Looking</th>
 	<th><i class="glyphicon glyphicon-arrow-right"></i></th>
 			<th>Outward Looking</th>
 		</tr>
 		<tr>
 			<th>Technology Focus</th>
  	<th><i class="glyphicon glyphicon-arrow-right"></i></th>			
 			<th>Process Focus</th>
 		</tr>
 		<tr>
 			<th>Ad Hod Processes</th>
 	<th><i class="glyphicon glyphicon-arrow-right"></i></th>
 			<th>Rationalized, Streamlined Processes</th>
 		</tr>
 		<tr>
 			<th>Best Efforts</th>
 	<th><i class="glyphicon glyphicon-arrow-right"></i></th>
 			<th>Measured, Accountable Processes</th>
 		</tr>
 		<tr>
 			<th>Entirely In-House</th>
 	<th><i class="glyphicon glyphicon-arrow-right"></i></th>
 			<th>Balanced In/Outsourcing</th>
 		</tr>
 		<tr>
 			<th>Fragmented, Silos</th>
 	<th><i class="glyphicon glyphicon-arrow-right"></i></th>
 			<th>Integrated, End-to-End</th>
 		</tr>
 		<tr>
 			<th>Fragmented, Silos</th>
 	<th><i class="glyphicon glyphicon-arrow-right"></i></th>
 			<th>Integrated, End-to-End</th>
 		</tr>
 		<tr>
 			<th>Reactive</th>
 	<th><i class="glyphicon glyphicon-arrow-right"></i></th>
 			<th>Proactive</th>
 		</tr>
 		<tr>
 			<th>Operations Manager</th>
 	<th><i class="glyphicon glyphicon-arrow-right"></i></th>
 			<th>Service Management</th>
 		</tr>
 		
 		<tr>
 			<th>System Skills</th>
 	<th><i class="glyphicon glyphicon-arrow-right"></i></th>
 			<th>“Listening” Skills </th>
 		</tr>
 	</tbody>    
      
 
</table>  <!-- stripped table -->
<div class="small text-right">The HP IT Service Management Reference Model white paper</div>

	<hr> 
	Dont start from scratch
	
		<hr> 	<hr> 

<p>  Subscibe to our monthly newsletter</p>


	    <div class="control-group">
		    <label class="control-label" for="inputIcon">Email address</label>
		    <div class="controls">
			    <div class="input-prepend">
			    	<span class="add-on"><i class="glyphicon glyphicon-envelope"></i></span>
				    <input class="span2" id="inputIcon" type="text">
		    	</div>
		    </div>
	    </div>
	<hr>    
   