<% content_for :title do %>Project Management Close Down<% end %>
<h1><i class="glyphicon glyphicon-check"></i>Project and Program Management - Close Down</h1>
<p>
<%= link_to image_tag("run2atext.png",:size => '150x70', alt: "Project Mgt"  ), page_path('projmgt'),class: 'pull-left' %>        	
	<div class="padp">
		<p> Project Close Down is  where you will run a lesson's learnt, wrap up any financial reporting, turn out the lights. Your product is operational and hence in the
			<strong>run</strong> phase. Project Close down is the final step in a transition to production.
			and hence part of the common  <%= link_to ' IT management structure', page_path('bizopsintegration')  %> </p>  
        							 		
		<hr />
		<hr />
		<hr />
		<hr />
		<hr />
		<hr />
		<hr />
		<hr />
		<hr />
		<hr />
		<hr />
	

<%= link_to image_tag("logosquare2.png",:size => '100x100', alt: "Logo"  ), root_path, class: 'pull-left' %> 
<p>  Subscibe to our monthly newsletter</p>


	    <div class="control-group">
		    <label class="control-label" for="inputIcon">Email address</label>
		    <div class="controls">
			    <div class="input-prepend">
			    	<span class="add-on"><i class="glyphicon glyphicon-envelope"></i></span>
				    <input class="span2" id="inputIcon" type="text">
		    	</div>
		    </div>
	    </div>
	<hr>    
    <a class="btn btn-large btn-primary" href="#"><i class="glyphicon glyphicon-star"></i> Subscribe</a>