<% content_for :title do %>Service Management Run<% end %>
<h1><i class="glyphicon glyphicon-refresh"></i>Service Implementation - Run Phase</h1>

	<%= link_to image_tag("plansymbol.png",:size => '150x60', alt: "Service Management"  ), page_path('opsmgt'),class: 'pull-left' %> 
	<p class="center">
	<%= link_to 'Service Build', page_path('servicebuild')  %>
	<%= link_to '', page_path('servicebuild'), class:"glyphicon glyphicon-chevron-left"  %>
		
	</p>

<div class = "container">
	<div class = "padp">
		<p>During this phase you will design the services that will meet the business requirements documented in the previous discovery phase and 
			approved in the business case. ITIL presents Design in the following categories </p>
		<hr />
		<%= 	image_tag("servicedesign1.png",:size => '200x200', alt: "Service Management"  ) %>
		<hr />
		</div>
			<p>As you move through this phase, you will be completing a .</p>
	
			
			
	Service Design Package Draft Example		
			
			

		
		
	
</div>