<% content_for :title do %>Service Management Implementation<% end %>
<h1><i class="glyphicon glyphicon-refresh"></i>Service Implementation - Planning Phase</h1>

	<%= link_to image_tag("plansymbol.png",:size => '150x60', alt: "Service Management"  ), page_path('opsmgt'),class: 'pull-left' %> 