<% content_for :title do %>Service Management Implementation Configuration Management System<% end %>
<h1><i class="glyphicon glyphicon-refresh"></i>Service Management - Configuration Management System</h1>

	<%= link_to image_tag("plansymbol.png",:size => '150x60', alt: "Service Management"  ), page_path('opsmgt'),class: 'pull-left' %> 
	<div class='container'>
	<div class='padp'>
<blockquote> 	
<p><strong> The Configuration Management System (CMS) </strong> is a set of tools and data that is used for collecting, 
	storing, managing, updating, analyzing and presenting data about all configuration items and their relationships. </p>
	<p>A CMS may manage more than one physical Configuration Management Databases (CMDB). Its underlying structure is defined by the Configuration Model, a logical model of the IT organization’s service assets.

 </p><p>
	 The CMS is used to store information on all Configuration Items (CIs) under the control of Configuration Management.</p>
	</blockquote></div>
<p>	
An example of a CMS Schema is <%= link_to 'here','http://www.itsmcommunity.org/downloads/Establishing_a_CMDB_Schema_-_A_Working_Model.pdf' %> 	
</p>	
<p>	
Or you can install a demo or free application such as <%= link_to 'Itop','http://www.combodo.com' %> and try out a working version.
</p>	
	
	
	
	</div>
	
