<% content_for :title do %>Service Management Implementation<% end %>
<h1><i class="glyphicon glyphicon-refresh"></i>Service Implementation - Planning Phase</h1>

	<%= link_to image_tag("plansymbol.png",:size => '150x60', alt: "Service Management"  ), page_path('opsmgt'),class: 'pull-left' %> 
	

<div class = "container">
	<div class = "padp">
		<p>During this phase you will design the services that will meet the business requirements documented in the previous discovery phase and approved in the business case. ITIL presents Design in the following categories
			
		<%= 	image_tag("servicedesign1.png",:size => '200x200', alt: "Service Management"  ) %>
			
			As you move through this phase, you will be completing a 
			<%= link_to "Service Design Package", pdf_path('Service Design Package Draft Example.pdf')  %>
			<ul>
				<li>Define the services that will meet the business requirements</li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				
				
				
				
			</ul>
			
			
	Service Design Package Draft Example		
			
			</p>

		
		
	</div>
</div>
