<% content_for :title do %>Test<% end %>
<h1><i class="glyphicon glyphicon-phone"></i>Test Bootstrap code</h1>
<body>
	<hr /><hr /><hr /><hr /><hr /><hr />
  

  <div class="container-fluid">
  	<div class="opsmgt">
    <div class="row">
      <div class="span2">
    <p>
      My Wonderful sidebar
    </p>
      </div>
      <div class="span3" style="background:red;">
    <table class="table">
      <tbody>
        <tr>
          <th>Header1</th>
          <th>Header2</th>
          <th>Header3</th>

        </tr>

        <tr>
          <td>My first Test</td>
          <td>My second Test</td>


          <td>
        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown">
            Dropdown Choices <span class="caret"></span>
          </a>

          <ul class="dropdown-menu">
            <li><a id=1>First wonderful choice</a></li>
          </ul>

        </div>
          </td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>
  </div>
  </div>

</body>